.event-list-container {
    padding: 1.5rem;
    width: 100%;
    min-height: 100%;
    
}
.event-name {
    font-size: 1.5rem
}
.location-wrapper {
    display: flex;
    align-items: center;
    gap: .4em;
    font-size: 1.1rem;
}
.location-filter {
    font-size: 1.2rem;
}
.tag-container {
    text-transform: uppercase;
    width: 90%;
    min-height: 5vh;
    margin-top: .15rem;
    margin-bottom: .45rem;
    display: flex;
    flex-wrap: wrap;
}
.tag-container > p {
    margin: 0.1rem;
    background-color: black;
    color: white;
    padding: .4rem;
    border-radius: 2px;
}